{% extends "base.html" %}

{% block content %}
<h1>Enter how many stocks you bought and what you paid</h1>

<div style="text-align: right;"><img src="https://cdn.mos.cms.futurecdn.net/avQoSGU9uTjFCgtCW3Rrhk.jpg" alt="My Image" /></div>

<form action="{{ url_for('home') }}" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.stock.label }} <br />
        {{ form.stock(size=4) }} <br />
        {% for error in form.stock.errors %}
        <span class="column" style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.num_shares.label }} <br />
        {{form.num_shares(size=10)}} <br />
        {% for error in form.num_shares.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.price.label }} <br />
        {{form.price(size=10)}} <br />
        {% for error in form.price.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.submit }}
    </p>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <h2> {{ message }} </h2>
        {% endfor %}
    {% endif %}
    {% endwith %}

{% if current_user.is_authenticated %}
        <h1> Your stocks </h1>
    {% if stock_count > 0 %}
    <table>
        <tr>
            <th>Stock bought</th>
            <th>Number of shares</th>
            <th>Price at time of purchase</th>
            <th>Price now</th>
            <th>Net change</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.stock_bought }} </td>
            <td> {{ stock.num_shares_bought }}</td>
            <td>{{ stock.price_bought}} </td>
            <td> {{stock.stock_current_price}}</td>
            <td> {{ stock.profit }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p> You don't have any stocks yet! Add a stock using the form above.</p>
    {% endif %}
{% endif %}
{% endblock %}